{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="static/upload.css">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="plugins/datatables/jquery.dataTables.min.js"></script>
<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
{% end %}

{% block content %}

<section class="content">
  <div class="container-fluid">

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{_(objtype)}}</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="card">
        {% if create_route %}
        <div class="card-header">
          <h3 class="card-title">{{ _('Add') }}</h3>
          <button type="button" class="btn badge badge-primary"
            data-card-widget="remove" onclick="navigateTo('{{create_route}}')">
            <i class="fas fa-plus"></i>
          </button>
          {% if upload_type %}
          <label for="file-upload" class="btn badge badge-warning upload-button">
            <i class="fa fa-upload"></i>
          </label>
          <input id="file-upload" type="file" accept="text/csv" />
          {% end %}
        </div>
        {% end %}

        <!-- /.card-header -->
        <div class="card-body">

          {% if data %}
          <table id="my_data" class="table table-bordered table-striped">
            <thead>
              <tr>
                {% for item in data[0] %}
                <th>{{_(item["key"])}}</th>
                {% end %}
              </tr>
            </thead>
            {% for row in data %}
            <tr>
              {% for item in row %}
              <td>
                {% if item['link'] %}
                <a href="{{item['link']}}">{{item['value']}}</a>
                {% elif isinstance(item['value'], bool) and item['value'] %}
                <i class="fas fa-check text-success"></i>
                {% elif isinstance(item['value'], bool) and not item['value'] %}
                <i class="fas fa-times text-danger"></i>
                {% else %}
                {{item['value']}}
                {% if item.get('warning', False) %}
                <i class='fas fa-exclamation-triangle text-danger'></i>
                {% end %}
                {% if 'sort_value' in item %}
                ::{{item['sort_value']}}
                {% end %}
                {% end %}
              </td>
              {% end %}
            </tr>
            {% end %}
          </table>
          {% end %}

        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>
  </div>
</section>

{% end %}

{% block scripts %}
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<script src="plugins/datatables/jquery.dataTables.min.js"></script>
<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script>
  const upload_type = "{{upload_type}}"
  let columns = {% raw columns %}
  $(function () {
    $(x => setDatatable("#my_data", columns))
  })
</script>
<script src="static/table.js"></script>
<script src="static/navigate.js"></script>
<script src="static/upload.js"></script>
{% end %}