{% extends "operational-dashboard-base.html" %}

<!-- Dashboard filter navbar -->
{% block dashboard_filter %}
    <div class="row dashboard-filter">
       <div class="dropdown">
         <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {% if current_region_name != 'All regions' %}
             {{ _("Region") }}:
           {% end %}
           {{ current_region_name }}
         </a>
       
         <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
           <a class="dropdown-item" href="#">{{ _("All regions") }}</a>
           <div class="dropdown-divider"></div>
           {% for row in regions %}
           <a class="dropdown-item" href="?region={{ row['id'] }}">{{ row['name'] }}</a>
           {% end %}
         </div>
       </div>

       <script>
        $(".dropdown-menu .dropdown-item").click(function(e) {
           // reloads page with new parameters
           // TODO: use the bokeh server instead of hacks.
           window.location.href = window.location.href.replace( /[\?#].*|$/, $(this).attr("href") ); 
        });
       </script>
    </div>
{% end %}


<!-- Dashboard metrics cards -->
{% block dashboard_metrics %}

<div class="col-sm-5 dash-metrics">
     {% for row in metrics_layout %}
     <div class="row"> 
        {% for metric in row %}
        <div class="col-sm-4">
           <div class="card">
              <div class="card-body">
                 <h3 class="card-title">{{ metric['value'] }}</h3>
                 <p class="card-text">
                 {% for token in  metric['label']  %}
                    {{ _(token) }}
                 {% end %}
                 </p>
              </div>
           </div>
        </div>
        {% end %}
     </div>
     {% end %}
     <div class="col-sm-5">
     </div>
</div>
{% end %}


<!-- Dashboard bokeh figure in the operational dashboard -->
{% block dashboard_op_figure %}
  <div class="col-sm-6 figure">
  {% for figure in figures%}
      {% raw figure['script'] %}
  
      {% raw figure['div'] %}
  {% end %}
  </div>
{% end %}

<!-- Dashboard Covid+ tab -->
{% block dashboard_covid_p %}
 {% if current_region_name != 'All regions' %}
  <div class="row extra-plots">
      <div class="col-sm-6 offset-4 figure">
	<img src="/{{ backoffice_root }}/static/extra-plots/flux-lits-region-{{ region2region.get(current_region_name, current_region_name) }}.png" />

      </div>
  </div>
  
  {% else %}  {# current_region_name == 'All regions' #}
  {% for row in _grouper([name for name in plots_extra if name.startswith('flux-lits-region')], 2) %}
  <div class="row extra-plots">
  {% for fig_name in row %}
  {% if fig_name is not None %}
      <div class="col-sm-5 figure">
	  <img src="/{{ backoffice_root }}/static/extra-plots/{{ fig_name }}.png" />
  
      </div>
  {% end %}
  {% end %}
  </div>
  {% end %}
  {% end %}
{% end %}
