{% extends "base.html" %}

{% block links %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="static/dist/css/dashboard.css">

{% end %}

{% block content %}
<div class="container operational-dash">
    <div class="row text-center">
    <h1 class='text-center'>{{ _("Dashboard") }}</h1>
    </div>
    {% block dashboard_filter %}
    {% end %}

   <div class="row">
     <div class="col col-sm-12">
     <ul class="nav nav-tabs" id="dashboard-tabs" role="tablist">
       <li class="nav-item">
	<a class="nav-link active" id="operational-tab" data-toggle="tab" href="#operational" role="tab" aria-controls="operational" aria-selected="true">{{ _("Operational dasboard") }}</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" id="covid_p_tab" data-toggle="tab" href="#covid_p" role="tab" aria-controls="covid_p" aria-selected="false">Covid+</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" id="covid_n-tab" data-toggle="tab" href="#covid_n" role="tab" aria-controls="covid_n" aria-selected="false">Covid-</a>
       </li>
     </ul>
     <div class="tab-content" id="dashboard-tabs-content">
       <div class="tab-pane fade show active" id="operational" role="tabpanel" aria-labelledby="operational-tab">
       
       <div class="row">
           {% block dashboard_metrics %}
           {% end %}
           {% block dashboard_op_figure %}
           {% end %}
       </div>
       
       
       </div>
       <div class="tab-pane fade" id="covid_p" role="tabpanel" aria-labelledby="covid_p-tab">
       {% block dashboard_covid_p %}
       {% end %}
       </div>
       <div class="tab-pane fade" id="covid_n" role="tabpanel" aria-labelledby="covid_n-tab"></div>
     </div>
   </div>

   </div>

</div>

{% end %}


{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/f1a01896135ab378aa5c0118eadd81da55e698d8/canvas-toBlob.js"></script>
<script src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script>
<script
    src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js"
></script>
{% end %}
