{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<link rel="stylesheet" href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
{% end %}

{% block content %}

<section class="content">
  <div class="container-fluid">

  <section class="content-header">
   <div class="container-fluid">
     <div class="row mb-2">
       <div class="col-sm-6">
         <h2> Manage your access tokens</h2>
       </div>
     </div>
   </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="card card-primary">

     <div class="card-header">
       <h3 class="card-title">
         {% if user.external_client_id %}
         Edit access token
         {% else %}
         Create access token
         {% end %}
       </h3>
     </div>

     <form role="form" action="token" method="post">

       <!-- The hidden ID in case we're editing the user. -->
       <input type="text" id="external_client_id" name="external_client_id"
              hidden value="{% if user.external_client_id is not None%}{{user.external_client_id}}{% end %}"
        </input>

       <div class="card-body">

        <div class="form-row">
           <div class="col-25">
             <label for="exampleInputEmail1">Name</label>
             <input type="text" id="name" name="name"
               class="form-control"
               placeholder="Name"
               value="{% if user.name %}{{user.name}}{% end %}" required autofocus>
           </div>

          <div class="col-25">
            <label for="validationCustom04">Phone Number</label>
            <input type="tel" id="telephone" name="telephone"
              class="form-control"
              pattern="^\+?\d{0,13}"
              title='Phone Number (Format: (+)332222222)'
              placeholder="+33 7 3333 333"
              value="{% if user.telephone %}{{user.telephone}}{% end %}" required>
          </div>

          <div class="col-25">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" id="email" name="email"
              class="form-control"
              size="30"
              placeholder="name@site.com"
              value="{% if user.email %}{{user.email}}{% end %}" required>
          </div>

          <div class="col-20">
            <label for="name">Active</label><br/>
            <input
            type="checkbox" name="is_active"
            {% if user.is_active %} checked{% end %}
            data-bootstrap-switch data-off-color="danger"
            data-on-color="success">
          </div>

        </div>

        <div class="form-row">
          <label for="exampleInputEmail1">Access Key</label>
          <input type="text" class="form-control" placeholder="{{user.access_key}}" disabled>
        </div>

        <div class="form-row">
          <div class="col-25">
            <label for="expiration">Expires</label>
            <div class="input-group date" id="timepicker" data-target-input="nearest">
              <input type="text" class="form-control datetimepicker-input" data-target="#timepicker" name="expiration_date"/>
              <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
              </div>
            </div>
          </div>

          <div class="col-25">
            <label for="exampleInputEmail1">Created</label>
            <input type="text" class="form-control" placeholder="{{user.create_date}}" disabled>
          </div>
        </div>

       <div class="card-footer">
         <button
            type='button' onclick='navigateTo("{{list_route}}")'
            class="btn btn-warning">Cancel</button>
         <button type="submit" class="btn btn-primary">Submit</button>
       </div>
     </form>
    </div>
  </section>

{% if error %}
 <div class="alert alert-danger" role="alert">
   {{_("Failed to save access token")}}
 </div>
{% end %}

</div>
</section>

{% end %}

{% block scripts %}
<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="plugins/moment/moment.min.js"></script>
<script src="plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<script src="plugins/daterangepicker/daterangepicker.js"></script>
<script src="plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<script>
  $(function () {
    $('#timepicker').datetimepicker({
      date: '{{date}}',
      icons: {
          time: 'fas fa-clock',
          date: 'fas fa-calendar-alt',
        },
      }
    )

    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    })
  })
</script>
{% end %}
