{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Add/create users</h1>
  <form action="/user" method="post">
   <div class="col-25">
     <label for="exampleName1">Name</label>
     <input type="text" class="form-control" id="name" name="name" placeholder="Name" size="30" required autofocus>
   </div>

    <div class="form-row">
     <div class="col-25">
       <label for="exampleInputEmail1">Email address</label>
       <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" size="30" placeholder="Enter email" required>
     </div>
     <div class="col-25">
       <label for="exampleInputPassword1">Password</label>
       <input type="password" class="form-control" id="password" name="password" placeholder="Password" size="20" required>
     </div>
    </div>

    <div class="form-row">
       <div class=""col-2"">
         <label for="validationCustom03">Country code</label>
         <input type="text" class="form-control" id="country_code" name="country_code" placeholder="+33" required>
       </div>
       <div class=""col-9"">
         <label for="validationCustom04">Phone</label>
         <input type="text" class="form-control" id="phone" name="phone" placeholder="7 333 333" required>
       </div>
     </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% end %}
