<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}ICUBAM{% end %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  {% block links %}{% end %}
</head>

<body>

  {% block content %}

  {% end %}

  {% block scripts %}
  {% end %}

</body>

</html>