{% extends "base.html" %}

{% block links %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/style.css?v={{version}}">
<link rel="stylesheet" href="/static/popup.css?v={{version}}">
<script type="text/javascript" src="/static/popup.js?v={{version}}"></script>
<script type="text/javascript" src="/static/map.js?v={{version}}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% end %}

{% block content %}
<div class='bed_map'>
  <div class="title-box" id="title-box-orig">
    <h2><a href="https://icubam.net">ICUBAM 🛏️</a></h2>
    <span class="subtitle-covid-status">
      <span class="subtitle-covid-pos" />COVID+</span>
      <span class="subtitle-covid-neg" />COVID-</span>
      <span class="subtitle-covid-all" />All Beds</span>

    </span>
    <span class="subtitle-display-format">
      <span class="subtitle-cluster" />{{ _('Available beds') }}</span>
      <span class="subtitle-full" />{{ _('Occupied / Total COVID beds') }}</span>
    </span>
    <span class="subtitle-display-format">
      {% raw disclaimer_url %}
    </span>
  </div>
  <div id="map"></div>
</div>
{% end %}

{% block scripts %}
<script>
  let data = {% raw data %}
  let center = {% raw center %}
  let showed = new Set()
  let all_showed = false
  let covid = true
  const displayAllText = "{{ _('Display All') }}"
  const showingCovidText = "{{ _('Display') }} COVID-"
  const showingNCovidText = "{{ _('Display') }} COVID+"
  const displayAllAltText = "{{ _('Click here to display all') }}"
  const covidAltText = "{{ _('Click here to change bed types') }}"
  const showingAllText = "{{ _('Display') }} All beds"

  function initMap () {
    plotMap(data[covid], center)
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap">
</script>
{% end %}