<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript" src="/static/map.js"></script>
    <title>ICUBAM</title>
  </head>
  <body class='bed_map'>
    <h1>ICUBAM</h1>
    <h2/>Lits covid occupés / Lits covid total</h2>
    <div id="map"></div>
    <script>
      let data = {% raw data %}
      function initMap () {
        plotMap(data)
      }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap">
    </script>
  </body>
</html>
