<div id='infowindow-{{cluster}}' onclick='togglePopup("{{cluster}}", "{{color}}")'
  class='box-border'>
  {% for view in views %}
  <div class='popup-{{view["name"]}}' id='cluster-{{cluster}}-{{view["name"]}}'>
    <table class='bed-table'>
      {% for obj in view['beds'] %}
        <tr>
          <td class='report-number modal-icu-name'>{{obj.label}}</td>
          {% if obj.phone %}
          <td style="background-color:{{obj.color}}" class='report-number'>
            {{obj.occ}} / {{obj.total}}
          </td>
          {% else %}
            <td style="background-color:{{obj.color}}" class='report-number'>
              {{obj.free}}
            </td>
          {% end %}
          {% if obj.phone %}
          <td class='report-number' onclick='togglePopup("{{cluster}}")'>
            <a href="tel:+{{obj.phone}}" class='not-underlined'>
              &#x1F4DE;
            </a>
            <a href="tel:+{{obj.phone}}"
                class='show-on-hover not-underlined'>+{{obj.phone}}</a>
          </td>
          {% end %}
        </tr>
      {% end %}
    </table>
  </div>
  {% end %}
</div>
