<div id='infowindow-{{cluster.label}}' onclick='togglePopup("{{cluster.label}}", "{{cluster.color}}")'
  class='box-border'>
  {% for view in views %}
  <div class='popup-{{view["name"]}}' id='cluster-{{cluster.label}}-{{view["name"]}}'>
    <table class='bed-table'>
      {% for obj in view['beds'] %}
        <tr>
          {% if view['name'] == 'full' %}
            <td class='report-number modal-icu-name {% if is_stale(obj.timestamp) %}stale-item{% end %}'>
              {% if is_stale(obj.timestamp) and view['name'] == 'full' %}
                <i class='fa fa-exclamation-triangle text-danger'></i>
              {% end %}
              {{obj.label}}
              <br/><span class='explanation'>{{when(obj.timestamp)}}</span>
            </td>
          {% else %}
            <td class='report-number modal-icu-name'>{{obj.label}}</td>
          {% end %}
                

          {% if obj.phone %}
          <td style="background-color:{{obj.color}}" class='report-number'>
            {{obj.occ}} / {{obj.total}}
          </td>
          {% else %}
            <td style="background-color:{{obj.color}}" class='report-number'>
              {{obj.free}}
            </td>
          {% end %}

          {% if obj.phone %}
          <td class='report-number' onclick='togglePopup("{{cluster}}")'>
            <a href="tel:+{{obj.phone}}" class='not-underlined'>
              &#x1F4DE;
            </a>
            <a href="tel:+{{obj.phone}}"
                class='show-on-hover not-underlined'>+{{obj.phone}}</a>
          </td>
          {% end %}
        </tr>
      {% end %}
    </table>
  </div>
  {% end %}
</div>
