{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
{% end %}

{% block content %}
<div class="container">
  <h1>Table</h1>
  <table id="example" class=" table table-hover table-bordered">
    <thead>
    <tr>
      <th width="10px">Modify</th>
      <th>icu_name</th>
      <th>n_covid_occ</th>
      <th>n_covid_free</th>
      <th>n_ncovid_free</th>
      <th>n_covid_deaths</th>
      <th>n_covid_healed</th>
      <!--
      <th>n_covid_refused</th>
      <th>n_covid_transfered</th>
      <th>message</th>
      <th>update_ts</th>
      -->
    </tr>
    </thead>
  </table>
</div>

{% end %}


{% block scripts %}
<script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf8" src="/static/show.js">

</script>
{% end %}
