{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="/static/style.css?v={{version}}">
<script type="text/javascript" src="/static/update.js?v={{version}}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% end %}

{% block content %}
<div class='main-content'>
  <h1>Hôpital {{icu_name}}</h1>

  <div class="buttons" id='navigation_buttons'>
    <button class="btn btn-primary mb-2" onclick="navigateTo('{{home_route}}')">
      {{ _('Display map') }}
    </button>
    <button  type="submit" class="btn btn-danger mb-2" onclick="toggleForm()">
      {{ _('Enter data') }}
    </button>
  </div>

  <p>{{ _('Last entry:') }} {{since_update}}</p>

  <form action="{{update_route}}" method="POST" id='icu_form'>
    <div class="form-row">
      <div class="form-elem positive">
        <label for="n_covid_free" class="form-label">{{ _('Available COVID+ beds') }}(*)</label>
        <div>
          <input
          class="form-control" type="number"
          name="n_covid_free" id="n_covid_free" value="{{n_covid_free}}">
        </div>
      </div>

      <div class="form-elem positive">
        <label for="n_ncovid_free" class="form-label">{{ _('Available COVID- beds') }}(*)</label>
        <div>
          <input
            class="form-control" type="number"
            value="{{n_ncovid_free}}" name="n_ncovid_free" id="n_ncovid_free">
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-elem negative">
        <label for="n_covid_occ" class="form-label">{{ _('Occupied COVID+ beds') }}(*)</label>
        <div>
          <input
            class="form-control" type="number"
            value="{{n_covid_occ}}" name="n_covid_occ" id="n_covid_occ">
        </div>
      </div>
      <div class="form-elem negative">
        <label for="n_ncovid_occ" class="form-label">{{ _('Occupied COVID- beds') }}</label>
        <div>
          <input
            class="form-control" type="number"
            value="{{n_ncovid_occ}}" name="n_ncovid_occ" id="n_ncovid_occ">
        </div>
      </div>
    </div>

    <div id="cumsum-values">

    <div id="cumsum-title" class="form-row">
      {{ _('NEW CUMULATIVE VALUES (TOTAL)') }}
    </div>

    <div class="form-row">
      <div class="form-elem positive">
        <label for="n_covid_healed" class="form-label">
          {{ _('Discharged') }}
          ({{ _('last input') }}: <strong style="color: green;">{{n_covid_healed}}</strong>)
        </label>
        <div>
          <input
            class="form-control"
            type="number"
            onchange='markInvalidIfNotGreaterOrEqualTo("n_covid_healed", {{n_covid_healed}})'
            id="n_covid_healed" name='n_covid_healed' value="{{n_covid_healed}}">
        </div>
      </div>

      <div class="form-elem negative">
        <label
          for="n_covid_deaths"
          class="form-label">
          {{ _('Deceased') }}
          ({{ _('last input') }}: <strong style="color: red;">{{n_covid_deaths}}</strong>)
        </label>
        <div>
          <input
          class="form-control"
          type="number"
          onchange='markInvalidIfNotGreaterOrEqualTo("n_covid_deaths", {{n_covid_deaths}})'
          id="n_covid_deaths" name="n_covid_deaths" value="{{n_covid_deaths}}">
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-elem average">
        <label for="n_covid_transfered" class="form-label">
          {{ _('Transfers') }}
          ({{ _('last input') }}: <strong style="color: green;">{{n_covid_transfered}})</strong>
          <br/>
          {{ _('(to other ICU)') }}
        </label>
        <div>
          <input
            class="form-control" type="number"
            id="n_covid_transfered" name='n_covid_transfered'
            onchange='markInvalidIfNotGreaterOrEqualTo("n_covid_transfered", {{n_covid_transfered}})'
            value="{{n_covid_transfered}}">
        </div>
      </div>

      <div class="form-elem negative">
        <label for="n_covid_refused" class="form-label">
          {{ _('Refused') }}
          ({{ _('last input') }}: <strong style="color: red;">{{n_covid_refused}})</strong>
          <br/>
          {{ _('(due to unavailability)') }}
        </label>
        <div>
          <input
          class="form-control"
          type="number"
          onchange='markInvalidIfNotGreaterOrEqualTo("n_covid_refused", {{n_covid_refused}})'
          id="n_covid_refused"
          name='n_covid_refused'
          value="{{n_covid_refused}}">
        </div>
      </div>
    </div>

    </div>

    <strong style="color: red; display: none;" id="submit-error-message">
      {{ _('Input error (cumulative value)') }}
    </strong>

    <p>(*) {{_('equiped with ventilator')}}.</p>

    <div class="buttons">
      <button type='button' onclick='toggleForm()' class="btn btn-warning mb-2">
        {{ _('Cancel') }}
      </button>
      <button type="submit" class="btn btn-primary mb-2"
      id="update-form-submit-button">
        {{ _('Submit') }}
      </button>
    </div>
  </form>
</div>
{% end %}
