{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="/static/style.css">
<script type="text/javascript" src="/static/update.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% end %}

{% block content %}
<div class='main-content'>
  <h1>Hôpital {{icu_name}}</h1>

  <div class="buttons" id='navigation_buttons'>
    <button class="btn btn-primary mb-2" onclick="navigateTo('{{home_route}}')">
      Visualiser Carte
    </button>
    <button  type="submit" class="btn btn-danger mb-2" onclick="toggleForm()">
      Saisir données
    </button>
  </div>

  <p>Dernière saisie: {{since_update}}</p>

  <form action="{{update_route}}" method="POST" id='icu_form'>
    <div class="form-row">
      <div class="form-elem positive">
        <label for="n_covid_free" class="form-label">Lits covid+ disponibles</label>
        <div>
          <input
          class="form-control" type="number"
          name="n_covid_free" id="n_covid_free" value="{{n_covid_free}}">
        </div>
      </div>

      <div class="form-elem positive">
        <label for="n_ncovid_free" class="form-label">Lits covid- disponibles</label>
        <div>
          <input
            class="form-control" type="number"
            value="{{n_ncovid_free}}" name="n_ncovid_free" id="n_ncovid_free">
        </div>
      </div>

      <div class="form-elem negative">
        <label for="n_covid_occ" class="form-label">Lits covid+ occupés</label>
        <div>
          <input
            class="form-control" type="number"
            value="{{n_covid_occ}}" name="n_covid_occ" id="n_covid_occ">
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-elem positive">
        <label for="n_covid_healed" class="form-label">Sorties (cumulés)</label>
        <div>
          <input
            class="form-control" type="number"
            id="n_covid_healed" name='n_covid_healed' value="{{n_covid_healed}}">
        </div>
      </div>

      <div class="form-elem negative">
        <label for="n_covid_deaths" class="form-label">Décès (cumulés)</label>
        <div>
          <input
          class="form-control" type="number"
          id="n_covid_deaths" name="n_covid_deaths" value="{{n_covid_deaths}}">
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-elem average">
        <label for="n_covid_transfered" class="form-label">
          Transferts (cumulés)<br/>
          (vers autres réa)
        </label>
        <div>
          <input
            class="form-control" type="number"
            id="n_covid_transfered" name='n_covid_transfered'
            value="{{n_covid_transfered}}">
        </div>
      </div>

      <div class="form-elem negative">
        <label for="n_covid_refused" class="form-label">Refus (cumulés)<br/>(manque de place)</label>
        <div>
          <input
          class="form-control" type="number"
          id="n_covid_refused" name='n_covid_refused' value="{{n_covid_refused}}">
        </div>
      </div>
    </div>

    <div class="buttons">
      <button type="submit" class="btn btn-primary mb-2">
        Enregistrer
      </button>
    </div>
  </form>
</div>
{% end %}
