# Keys
title = "My TOML Config"

# Tables
[sms]
  origin = "ICUBAM"
  carrier = "FAKE"

[email]
  protocol = "FAKE"
  use_ssl = false

[db]
sqlite_path = ":memory:"

[server]
  PORT = 8888  # will be lower cased when reading.
  base_url = "http://localhost"
  num_days_for_stale = 1


[messaging]
  port = 8889
  token_validity_days = 2

[scheduler]
  max_retries = 3
  reminder_delay = 45
  ping = ['12:30', '17:30', '14:12']
    

[backoffice]
  port = 8979
  ping_every = 60
  root = 'mybo'
  extra_plots_dir = "/tmp/dasboard_plots_dir"
  extra_plots_make_every = 20  # in seconds
