# Keys
title = "My TOML Config"

# Tables
[sms]
  [sms.dev]
  origin = "ICUBAM"
  carrier = "FAKE"
  [sms.prod]
  origin = "ICUBAM"
  carrier = "TW"

[email]
  [email.dev]
  protocol = "FAKE"
  use_ssl = false
  [email.prod]
  protocol = "SMTP"
  use_ssl = true

[db]
sqlite_path = "test.db"

[server]
  [server.dev]
  PORT = 8888  # will be lower cased when reading.
  base_url = "https://localhost"
  [server.prod]
  port = 443
  base_url = "https://test.icubam.net/"


[messaging]
  port = 8889
  [scheduler]
    [scheduler.prod]
    max_retries = 1
    reminder_delay = 1800  # 30 minutes in seconds
    ping = ['9:30', '17:30']
    [scheduler.dev]
    max_retries = 3
    reminder_delay = 45
    ping = ['12:30', '17:30', '14:12']

[backoffice]
  port = 8979
  ping_every = 60
