version: '3.2'
services:

  # ICUBAM service
  db-builder:
    build:
      context: "${ICUBAM_COMPOSE_CONTEXT:-.}"
      dockerfile: ./docker/Dockerfile
    image: "${IMAGE_NAME:-icubam}:${IMAGE_TAG:-latest}"
    container_name: db-builder
    command: "./docker/build_fake_dbs.sh"
    tty: true
    environment:
      ICUBAM_CONFIG_FILE : "${ICUBAM_CONFIG_FILE:-icubam.toml}"
      SECRET_COOKIE : "$SECRET_COOKIE"
      JWT_SECRET : "$JWT_SECRET"
      GOOGLE_API_KEY : "$GOOGLE_API_KEY"
      TW_KEY : "$TW_KEY"
      TW_API : "$TW_API"
      DB_SALT: "$DB_SALT"
    working_dir: /home/icubam
    volumes:
      - type: bind
        source: "${ICUBAM_RESOURCES_PATH:-./resources}"
        target: /home/icubam/resources
    networks:
      - icubam-network

# Docker Networks
networks:
  icubam-network:
    driver: bridge
