version: '3.2'
services:

  # ICUBAM service
  app-server:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
    image: icubam
    container_name: icubam-server
    command: ./start_server.sh
    restart: unless-stopped
    tty: true
    environment:
      ENV_MODE : "dev"
    env_file:
      - ./docker/icubam-container.env
    working_dir: /home/icubam
    volumes:
      - type: bind
        source: ./resources/config.toml
        target: /home/icubam/resources/config.toml
      - type: bind
        source: ./icubam.db
        target: /home/icubam/icubam.db
      - type: bind
        source: ./test.db
        target: /home/icubam/test.db
      - type: bind
        source: ./resources/token.pickle
        target: /home/icubam/resources/token.pickle
    networks:
      - icubam-network

  # ICUBAM sms service
  app-sms:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
    image: icubam
    container_name: icubam-sms-server
    command: ./start_server_sms.sh
    restart: unless-stopped
    tty: true
    env_file:
      - ./docker/icubam-container.env
    environment:
      ENV_MODE : "dev"
    working_dir: /home/icubam
    volumes:
      - type: bind
        source: ./resources/config.toml
        target: /home/icubam/resources/config.toml
      - type: bind
        source: ./icubam.db
        target: /home/icubam/icubam.db
      - type: bind
        source: ./test.db
        target: /home/icubam/test.db
      - type: bind
        source: ./resources/token.pickle
        target: /home/icubam/resources/token.pickle
    networks:
      - icubam-network

  # Nginx Service
  # do not set a container_name as the init script for bottstraping the certificate uses the default naming scheme
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    tty: true
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - type: bind
        source: ./configs/nginx
        target: /etc/nginx/conf.d
      - type: bind
        source: ./configs/certbot/conf
        target: /etc/letsencrypt
      - type: bind
        source: ./configs/certbot/www
        target: /var/www/certbot
    networks:
      - icubam-network
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

  # certbot service for certificate renewal
  # do not set a container_name as the init script for bottstraping the certificate uses the default naming scheme
  certbot:
    image: certbot/certbot
    restart: unless-stopped
    volumes:
      - type: bind
        source: ./configs/certbot/conf
        target: /etc/letsencrypt
      - type: bind
        source: ./configs/certbot/www
        target: /var/www/certbot
    networks:
      - icubam-network
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

# Docker Networks
networks:
  icubam-network:
    driver: bridge
