.main-content {
  margin: 20px;
  max-width: 500px;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.form-elem {
  display: flex;
  margin-right: 20px;
  flex-direction: column;
  justify-content: flex-end;
}

.form-control:valid {
  border-width: 3px!important;
}

.positive .form-control:valid {
  border-color: green!important;
}

.average .form-control:valid {
  border-color: orange!important;
}

.negative .form-control:valid {
  border-color: #ff0000!important;
}

.form-control {
  width: 90px;
}

#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body.bed_map {
  height: 90%;
  margin: 10px;
  padding: 0;
}
