name: DB wipe script smoke test

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    # https://github.com/marketplace/actions/setup-miniconda
    - uses: actions/checkout@v2
    - uses: goanpeca/setup-miniconda@v1
      with:
         auto-update-conda: true
         activate-environment: anaconda-client-env
         python-version: 3.8
         auto-activate-base: false
    - shell: bash -l {0}
      run: |
        conda info
        python --version
    - name: Install dependencies
      shell: bash -l {0}
      run: |
        which python
        pip --version
        pip install -r requirements.txt
    - name: Wipe DB (from the fake DB producer)
      shell: bash -l {0}
      env:
        GSHEETS_TOKEN: ${{ secrets.gsheets_token }}
        TOKEN_LOC: token.pickle
        SHEET_ID: ${{ secrets.SHEET_ID }}
        JWT_SECRET: some_secret_string
        SECRET_COOKIE: another_secret_string
      run: |
        pip install -e .
        python scripts/populate_db_fake.py
        python scripts/wipe_sensitive_info_db.py --filename test.db --force=True
        timeout 5 python scripts/run_server.py --config=resources/config.toml || echo "Normal timeout" | grep "Normal timeout"
        python scripts/get_id_url.py --config=resources/config.toml
