name: Python package

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    # https://github.com/marketplace/actions/setup-miniconda
    - uses: actions/checkout@v2
    - uses: goanpeca/setup-miniconda@v1
      with:
         auto-update-conda: true
         activate-environment: anaconda-client-env
         python-version: 3.8
         auto-activate-base: false
    - shell: bash -l {0}
      run: |
        conda info
        python --version
    - name: Install dependencies
      shell: bash -l {0}
      run: |
        which python
        pip --version
        pip install -r requirements.txt
    - name: Test with pytest
      shell: bash -l {0}
      env:
        GSHEETS_TOKEN: ${{ secrets.gsheets_token }}
        TOKEN_LOC: token.pickle
        SHEET_ID: ${{ secrets.SHEET_ID }}
        JWT_SECRET: ${{ secrets.JWT_SECRET }}
      run: |
        # Emit pickled gsheets testing credentials from CI secret
        python -c "import pickle; import base64; import os; tok=pickle.loads(base64.b64decode(os.getenv('GSHEETS_TOKEN'))); tfile = open('token.pickle', 'wb'); pickle.dump(tok, tfile)"
        pip install pytest
        pytest .
        pip install -e .
    - name: Developper installation test
      shell: bash -l {0}
      env:
        GSHEETS_TOKEN: ${{ secrets.gsheets_token }}
        TOKEN_LOC: token.pickle
        SHEET_ID: ${{ secrets.SHEET_ID }}
        JWT_SECRET: some_secret_string
        SECRET_COOKIE: another_secret_string
      run: |
        # Emit pickled gsheets testing credentials from CI secret
        python scripts/populate_db_fake.py --config=resources/config.toml --mode=dev
        timeout 5 python scripts/run_server.py --config=resources/config.toml --mode=dev || echo "Normal timeout" | grep "Normal timeout"
        python scripts/get_id_url.py --config=resources/config.toml --mode=dev
